:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

body {
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../imgs/signal-2025-06-02-00-05-34-536.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 160px 0;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px 0 0 5px;
  font-size: 112px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 45;
  font-style: normal;
  margin-bottom: 100px;
  font-size: 36px;

}

header h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: 24px;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height:  1.5px;
  letter-spacing: 5px;
}

header a {
  font-weight: 700px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  padding: 16px 32px;
  border-radius: 4px;
  text-decoration: none;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

.footer-container {
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)), 
  url(../imgs/footer-bg-close.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.footer-info {
  margin: 10px;
}
footer h3 {
  font-weight: 700;
  font-size: 16px;
}

footer p {
  font-size: 12px;
  padding: 0 auto;

}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 10px;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.icon-link {
  padding-right: 7px;
}

@media (max-width: 866px) {
  header {
    padding: 70px 0;
    line-height: 2px;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  header {
    padding: 30px 0;
    line-height: 1px;
  }
  header h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  header h2 {
    font-size: 16px;
    margin-bottom: 50px;
  }
  header h3 {
    font-size: 10px;
  }
  header a {
    padding: 5px 10px
  }
}